<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryLister</title>
</head>
<body>
    <header>
        <h1>
            Сервис мониторинга запросов
        </h1>
        <h3>
            Отправьте json запрос на <code>/add</code>
            с параметрами <code>
                {"query":..., "region":...}
            </code>
            
        </h3>
        <h3>
            Информацию по запросу можно получить по адресу
            <code>/stats</code>
            
        </h3>
    </header>
</body>
</html>